* {
    padding: 0;
    margin: 10;
    font-family: sans-serif;
}

.menu-bar {
    background-image: linear-gradient(to left, black, transparent);
    position: sticky;
    top: 0;
}

.nav-link {
    font-size: 16px;
    color: #fff !important;
    margin: 2px;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: sticky;
    top: 0;
}

.navbar-nav {
    text-align: right;
    padding-left: 1050px;
}

.menu-bar .navbar-toggler {
    padding-right: 0;
    outline: none;
    border: none;
}

.btn.btn-primary {
    background: white;
    color: black;
    border: none;
}

.Apply-btn {
    margin-top: -20px;
    height: 38px;
    background-image: linear-gradient(to right, #f1f1f1, white);
    padding: 0px 60px 10px 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.apply-html {
    color: violet;
    margin-top: -20px;
}

*/ .collapse navbar-collapse {
    padding-left: 1050px;
}

.left .container {
    width: 500px;
    height: 300px;
    /* border: 2px solid rgb(185, 185, 235); */
    padding: 10px;
    /* box-shadow: 5px 10px #ececec; */
    margin-bottom: 5px;
}

.right .container {
    width: 500px;
    height: 300px;
    /* border: 2px solid rgb(185, 185, 235); */
    padding: 10px;
    /* box-shadow: 5px 10px #ececec; */
    margin-bottom: 5px;
}

#jobs {
    background: #f8f8fa;
    padding: 50px 0;
}

.company-details {
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, .18);
    border-radius: 5px;
    margin-bottom: 15px;
}

.job-update {
    background: fff;
    padding: 10px 15px;
    border-radius: 6px;
    margin-top: 31px;
}

.job-update .fa {
    margin-top: 5px;
    margin-right: 10px;
    color: black;
}

.job-update small {
    background: #efefef;
    padding: 1px 5px;
    margin: 0 5px;
}

.company-details {
    box-shadow: 0 2px 70px 0 rgba(110, 130, 208, .18);
    border-radius: 36px;
    margin-bottom: 15px;
    border-top: 1px black;
}

img{
    height: 80px;
    border-radius: 60%;
}

/* Pagination links */

.pagination {
    margin-top: 400px;
    margin-left: 500px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination button {
    color: black;
    float: left;
    padding: 5px 7px;
    text-decoration: none;
    transition: background-color .3s;
    border: hidden;
}


/* Style the active/current link */

.pagination a.active {
    background-color: rgb(82, 150, 218);
    color: white;
}


/* Add a grey background color on mouse-over */

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

#site-stats {
    padding: 100px 0;
}

#site-stats h3 {
    margin-bottom: 30px;
    text-align: center;
}

.stats-box {
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 40px 0 rgba(110, 130, 208, .18);
}

.stats-box .fa {
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}